
.orderHead {
    display:flex;
    align-items: center;
    justify-content:space-between ;
}        
.inHand {
    background: yellow;
}    
.notes {
    width: 100%;   
}    

$base-error: coral;
$base-success: aquamarine;

.errorDiv {
  color: $base-error;
}
.valid {
  background-color: $base-success;
}
.invalid {
  background-color: $base-error;
}
.myTd {
  border: 1px solid;
  width: 600px;
  padding: 10px;
}       

